body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

#line {
    margin-top: 1px;
    margin-right: 50px;
    background-color: #c2c2c2;
    height: 1px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #e0e0e0;
    height: 100vh;
    padding: 20px;
}

.sidebar form input {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2px
}

.sidebar div {
    margin-top: 1px;
}

.sidebar h2 {
    margin-top: 5px;
}
