{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Select category</h2>
    <br>
    <div>
        <a class="btn btn-primary" href="/categories/electronics" role="button">Electronics</a>
        <a class="btn btn-primary" href="/categories/fashion" role="button">Fashion</a>
        <a class="btn btn-primary" href="/categories/art" role="button">Art</a>
        <a class="btn btn-primary" href="/categories/home" role="button">Home</a>
        <a class="btn btn-primary" href="/categories/books" role="button">Books</a>
        <a class="btn btn-primary" href="/categories/sports" role="button">Sports</a>
    </div>
{% endblock %}