{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <br>
    {% for listing in listings %}
    {% if listing.is_active %}
        <div class="item">
            <div class="left">
                <div id="top">
                    <div class="title">
                        <a href="/listing/{{ listing.id }}"><h3>{{ listing.title }}</h3></a>
                    </div>
                    <div class="price">
                        Current Bid: ${{ listing.starting_bid }} 
                    </div>
                </div>
                <div class="description">
                    Description: {{ listing.description}}
                </div>
            </div>
            <div id="image">
                <img src="{{ listing.image }}" alt="">
            </div>
        </div>
        <br>
    {% endif %}
    {% endfor %}

{% endblock %}