/* Nav */
.navbar-brand{
    margin-top: auto;
    margin-bottom: 0;
}
#profile{

    margin-bottom: -12px;
}
.nav-item{
    margin-top: auto;
    margin-bottom: 0;
}

/* profile */
.profile{
    display: flex;
    background-color: rgb(207, 207, 207);
    padding: 30px;
    margin: 10px;
    border-radius: 15px;
}
#stats{
    display: flex;
}
#following{
    display: block;
    margin-right: 5px;
}
#followers{
    display: block;
}
#followbtn{
    margin-left: auto;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: 0;
}

/* Home */
.all-posts{
    background-color: rgb(207, 207, 207);
    padding: 30px;
    margin: 10px;
    border-radius: 15px;
}
#new-post {
    display: flex;
}
#new-text{
    display: block;
}
#new-text textarea{
    width: 600px;
    height: 50px;
    margin-right: 4px;
    border-radius: 4px;
}
#new-post input{
    width: 160px;
    display: block;
    height: 50px;
   
}

/* following */
.following{
    background-color: rgb(207, 207, 207);
    padding: 30px;
    margin: 10px;
    border-radius: 15px;
}

/* posts */
#poststrain{
    background-color: rgb(207, 207, 207);
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}

#postbox{
    background-color: rgb(255, 255, 255);
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding-bottom: 20px;
}
.paginator{
    background-color: rgb(253, 236, 0);
    color: rgb(0, 131, 163);
    width: 400px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.textboxedit{
    display:flex;
}
.texttoedit{
    display: block;
}
#editbuttn button{
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: -35px;
}

#hiddenselector .hidden{
    display:flex;
}
.hidden textarea{
    display: block;
    width: 600px;
    height: 40px;
    margin-right: 4px;
    border-radius: 4px;
    margin-bottom: 4px;
}
.hidden button{
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: -45px;
}
.nothidden button{
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: -45px;
}
.alllikes{
    display:flex;
    padding-bottom: 5px;
}
#alllikes div button{
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: -45px;
}
#likesdisplay{
    display: flex;
}
#likescolon{
    display: block;
    margin-right: 5px;
}
.thenumberoflikes{
    display: block;
}
.testtoedit{
    font-weight: bold;
}