{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}"><strong><i>Network</i></strong></a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li id="profile" class="nav-item">
                        <a class="nav-link" href="/profile/{{ request.user.username }}"><h1><strong>{{ request.user.username }}</strong></h1></a>
                    </li>
                {% endif %}
                <li id="all-posts" class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li id="following" class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </nav>
        <div id="username" style="display: none;">{{ request.user.username }}</div>
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <div id="poststrain">   
            <div class="paginator">
            {% if posts.has_previous %}
            <a href="?page=1"><strong>&laquo First |</strong></a>
            <a href="?page={{ posts.previous_page_number }}"> <strong>| Previous |</strong> </a>
            {% endif %}
            <strong>| Page {{ posts.number }} of {{ posts.paginator.num_pages }} |</strong>
            {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}"> <strong>| Next |</strong> </a>
            <a href="?page={{ posts.pagination.num_pages }}"><strong>| Last &raquo</strong></a>
            {% endif %}
            </div>
                {% for post in posts %}
                <div id="postbox">
                    <div id="{{ post.id }}" style="display: none">
                        {{post}}
                    </div>
                    <div>
                        <a href="/profile/{{ post.poster }}"><strong>{{ post.poster }} </strong></a>
                        
                    </div>
                    <div id="hiddenselector" class="div-{{ post.id }}">
                        <div id="post-{{ post.id }}" class="testboxedit">
                            <div id="text-{{ post.id }}" class="testtoedit">
                               {{ post.text }}
                            </div>
                            {% if post.poster.username == request.user.username %}
                                <div id="editbuttn">
                                    <button onclick="editclick('{{ post.id }}')" type="submit" class="btn btn-primary" value="Edit"/>
                                    Edit
                                </div> 
                            {% endif %}
                        </div>


                        <div class="hidden" id="edit-{{ post.id }}">
                            
                                   {{editpost.text}}
                            
                         
                            <button onclick="saveedit('{{ post.id }}')" type="submit" class="btn btn-primary" value="Save"/>Save
                        </div>  
                    </div>
                    <div>
                        {{ post.time }}
                    </div>

                    <div class="allikes" id="like-{{post.id}}">
                        <div id="likesdisplay">
                            <div id="likescolon">
                                Likes:
                            </div>
                            <div class="thenumberoflikes" id="like-{{post.id}}-count">
                                {{ post.likecount }}
                            </div>
                        </div>
                        
                        <div class="nothidden" id="{{post.id}}-like">
                            {% if post.id in likeslist %}
                                <button onclick="unlike('{{ post.id }}')" type="submit" class="btn btn-primary" value="Unlike"/>Unlike
                            {% else %}
                                <button onclick="like('{{ post.id }}')" type="submit" class="btn btn-primary" value="Like"/>Like
                            {% endif %}
                        </div>
                        <div class="hidden" id="{{post.id}}-unlike">
                            {% if post.id in likeslist %}
                                <button onclick="like('{{ post.id }}')" type="submit" class="btn btn-primary" value="Like"/>Like
                            {% else %}
                                <button onclick="unlike('{{ post.id }}')" type="submit" class="btn btn-primary" value="Unlike"/>Unlike
                            {% endif %}
                        </div>
                    </div>
                </div>
            
          
                {% endfor %}

                <div class="paginator">
            {% if posts.has_previous %}
            <a href="?page=1"><strong>&laquo First |</strong></a>
            <a href="?page={{ posts.previous_page_number }}"> <strong>| Previous |</strong> </a>
            {% endif %}
            <strong>| Page {{ posts.number }} of {{ posts.paginator.num_pages }} |</strong>
            {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}"> <strong>| Next |</strong> </a>
            <a href="?page={{ posts.pagination.num_pages }}"><strong>| Last &raquo</strong></a>
            {% endif %}
                    
                </div>
        {% block script %}
            <script src="{% static 'network/network.js' %}"></script>
        {% endblock %}
    </body>
</html>